<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Document
  </title>
 </head>
 <body>
<p>Hello,</p>

	This is a promo email template used for testing Python Emailer
  <p>{closing},</p>
<p><span style="color:#7f8c8d">{name}</span></p>
<p><span style="color:#7f8c8d"><a href="https://www.github.com/AlexTu2" target="_blank">Github</a> | <a href="https://www.github.com/AlexTu2/PyEmailer" target="_blank">Repo</a></span></p>
</body>
</html>
